body,
html {
  background-color: #202023;
  color: white;
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container::before {
  content: "";
  backdrop-filter: blur(30px);
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
